@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Ledger");

* {
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Ledger";
}

body {
  background-color: #3a736c;
  overflow: hidden;
}

#info {
  position: absolute;
  font-family: Caveat;
  color: #F1CFA0;
  padding-top: 15px;
  font-size: 5vh;
  opacity: 0.7;
}

.shaker {
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}

.dialog {
  z-index: 10;
  top: 30vh;
  transform: translateY(30vh);
  margin: 0 auto;
  width: 30vw;
  background-color: #f1cfa0;
  text-align: center;
  min-width: 200px;
  box-shadow: 10px 10px #254f49;
}

.dialog:after {
  content: "";
  display: block;
  padding-bottom: 0;
}

.shadow {
  width: 100%;
  height: 0;
  padding-left: 50%;
  padding-top: 30%;
  overflow: hidden;
}

.shadow div {
  width: 0;
  height: 0;
  margin-left: -1000px;
  margin-top: -600px;
  border-left: 1000px solid transparent;
  border-right: 1000px solid transparent;
  border-top: 600px solid #f2a71e;
  /*    box-shadow: 10px 10px #c98510;*/
}

#stamp-envelope {
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 0;
  height: 0;
  padding-left: 13%;
  padding-top: 14%;
  margin-bottom: 20%;
  /*    overflow:hidden;*/
  margin-top: -12.5%;
  background-color: #d34f27;
  border: 2px solid #d34f27;
  color: #f2a71e;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 2px 3px #93321a;
}

@media screen and (max-height: 400px) {
  .dialog {
    top: 20vh;
    transform: translateY(20vh);
    width: 20vw;
  }

  .stamp.hvr-buzz p {
    font-size: 2vw;
    margin-left: -2.2vw;
    margin-top: -2.8vw;
  }
}

.stamp-wrapper {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

#stamp-footer {
  display: inline-block;
  padding: 16px 25px;
  color: #f2a71e;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  border: 4px solid #d34f27;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #d34f27;
}

.stamp:hover {
  animation-name: hvr-buzz;
}

.stamp:active {
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover,
.hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.message {
  display: none;
  position: absolute;
  width: 400px;
  max-height: 65vh;
  margin-left: -200px;
  left: 50vw;
  top: 47vh;
  margin-top: -30vh;
}

.part-one {
  position: relative;
  background-color: #f1cfa0;
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-header {
  width: inherit;
  height: 5vh;
  background-color: #f2a71e;
}

.message-text {
  padding: 40px 30px;
  padding-bottom: 0px;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: "Caveat", cursive;
  color: #3a736c;
}

.message-footer {
  /*    position: absolute;*/
  bottom: 0;
  background-color: #d34f27;
  width: 400px;
  height: 5vh;
}

#stamp-footer {
  /*    position: absolute;*/
  right: 30px;
  bottom: 60px;
  padding: 0 0;
  padding-top: 10px;
  width: 60px;
  height: 60px;
  margin-top: -34px;
}

#ui {
  position: absolute;
  left: calc(50vw - 40px);
  top: calc(50vh - 40px);
}

.dg.ac {
  z-index: 1000 !important;
}

/* Scrollbar edit for chrome just for fun. */
#part-one-message::-webkit-scrollbar-track {
  background-color: #254f49;
}

#part-one-message::-webkit-scrollbar {
  width: 10px;
}

#part-one-message::-webkit-scrollbar-thumb {
  background-color: #427f77;
}
